/* Colour scheme */
:root {
  --rich-black-fogra-29: #01161eff;
  --alice-blue: #ebf2fa;
  --rhythm: #7a6f9bff;
  --cafe-au-lait: #a98467ff;
  --umber: #6c584cff;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--umber);
}

a {
  color: #00b7ff;
}
h1 {
  color: var(--alice-blue);
}
p {
  color: var(--rich-black-fogra-29);
}

table {
  width: 80%;
  border-collapse: collapse;
  border: 1px solid var(--rhythm);
}

table th {
  padding: 1rem;
  border: 2px solid var(--rhythm);
}

table td {
  padding: 0.5rem;
  border: 1px solid var(--rhythm);
  text-align: center;
}

.navbar {
  background-color: var(--alice-blue);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
}

.navbar--links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar--links a {
  align-self: center;
}
