/* Colour scheme */
:root {
  --rich-black-fogra-29: #01161eff;
  --alice-blue: #ebf2fa;
  --rhythm: #7a6f9bff;
  --cafe-au-lait: #a98467ff;
  --umber: #6c584cff;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 50px;
  background-color: var(--umber);
}

a {
  color: #00b7ff;
}
h1 {
  color: var(--alice-blue);
}
p {
  color: var(--rich-black-fogra-29);
}

table {
  width: 80%;
  border-collapse: collapse;
  border: 1px solid var(--rhythm);
}

table th {
  padding: 1rem;
  border: 2px solid var(--rhythm);
}

table td {
  padding: 0.5rem;
  border: 1px solid var(--rhythm);
  text-align: center;
}
